@font-face {
  font-family: "Tenor Sans";
  src: url("./../assets/fonts/Ternor/TenorSans-Regular.ttf") format(truetype);
}

:root {
  /* Used for header and footer*/
  --color-main-yellow: #f6ce00;

  /* Used for accent*/
  --color-secondary-blue: #c5e5de;

  /* Used for background of cards*/
  --color-cardbg: #f6ce0042;

  /* Used for accent, action and border*/
  --color-red: #c6302c;

  /* Used for fonts, icon*/
  --color-font: #212427;

  /* Used for site bg, font, card bg */
  --color-off-white: #fcfcfc;

  /* Used for placeholder and overlay*/
  --color-gray: #888888;

  /* Used for input border style*/
  --color-input-border: #ccc;

  --font-family-base: "Tenor Sans";
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-off-white);

  font-family: "Tenor Sans", Verdana, Tahoma, sans-serif;
  font-size: 18px;
  color: var(--color-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base), Verdana, Tahoma, sans-serif;
  font-weight: 700;
}

a {
  color: var(--color-font);
  text-decoration: none;
}

a:hover,
a:hover * {
  transition: all 0.3s ease;
  color: var(--color-font);
  font-weight: bold;
}

a.active {
  border-bottom: 2px solid var(--color-red);
}

/*----------------Style for form----------------*/

input[type="email"],
input[type="text"],
textarea {
  font-family: var(--font-family-base), Verdana, Tahoma, sans-serif;
  font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {
  margin-top: 4px;
  min-height: 40px;

  border: 1px solid var(--color-input-border);
}

input[type="email"]:focus,
input[type="text"]:focus {
  border: 0;

  outline: 1px solid grey;
  box-shadow: 0 4px 8px 0 var(--shadow-box);
}

input[name="search"] {
  border: none;
}

textarea {
  min-height: 200px;
  margin-top: 4px;
  border: 1px solid var(--color-input-border);
}

textarea[name="input-message"]:focus {
  border-color: transparent;

  outline: 1px solid var(--color-red);
  box-shadow: 0 4px 8px 0 var(--shadow-box);
}

/*-----------------*/
.form {
  display: flex;
  flex-direction: column;

  gap: 16px;
  padding: 32px;
}

body form {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--color-gray);
  border-radius: 20px;

  display: flex;
  gap: 24px;
}

body form input {
  padding: 5px;
  border: none;
  outline: none;

  width: 100%;
  border-radius: 5px;
}
