.title {
  font-weight: 700;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background: #f6ce0042;
  border-radius: 5px;
  border: 1px solid black;
  width: 800px;
}

.card .content {
  display: flex;
  flex-direction: column;
  flex-basis: 20vmax;

  margin: 10px;
}

.img {
  /* flex-basis: 50%; */
  padding: 8px;
}

.movie-descrip {
  margin-left: 8px;
}

.card .content p {
  font-weight: 700;
}

.card .content span {
  font-weight: 100;
  margin-left: 8px;
}

@media (max-width: 800px) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #f6ce0042;
    border-radius: 5px;
    border: 1px solid black;
    width: 300px;
  }
  .title {
    flex-wrap: wrap;
    text-align: left;
  }
}
