/*  custom css for mobile */

#main-container {
  display: grid;
  grid-template-columns: 24px repeat(4, 1fr) 24px;
  grid-template-rows: min-content min-content auto min-content;
  min-height: 100vh;
}

header {
  grid-area: 1 / 1 / span 1 / span 14;
  background-color: var(--color-main-yellow);
}

.title {
  grid-area: 2 / 2 / span 1 / span 4;
  text-align: center;
}

main {
  grid-area: 3 / 2 / span 1 / span 4;
  display: flex;
  flex-direction: column;

  gap: 48px;
}

footer {
  grid-area: 4 / 1 / span 1 / span 14;
  background-color: var(--color-main-yellow);

  margin-top: 48px;
}

img.fit-image {
  width: 100%;
  height: 100%;
}

.box-info {
  margin-left: 16px;
  text-align: center;
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: center;

  text-transform: uppercase;
  white-space: nowrap;
  padding: 16px;
  border-radius: 32px;
  box-shadow: 4px 4px 4px var(--shadow-box);

  width: 100%;
  border: 0;
  font-size: 16px;
  font-family: "Tenor Sans", Verdana, Tahoma, sans-serif;

  background-color: var(--color-main-yellow);
}

button.cta:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  background-color: var(--color-secondary-blue);
}

.cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/*---------message error--------------*/

.error {
  padding: 1rem;
  color: rgb(129, 0, 0);
  background: rgba(255, 0, 0, 0.082);

  display: none;
}

/*---------spinner--------------------*/

.loading-indicator {
  border: 16px solid var(--color-input-border);
  border-top: 16px solid var(--color-main-yellow);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;

  margin: 8em auto 8em auto;

  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*-----media queries/desktop--------- */

@media (min-width: 800px) {
  #main-container {
    grid-template-columns:
      /* 1st column: margin at least 88px */
      minmax(88px, 1fr)
      /* 
      space available for 12 columns 2..13 at least 800px - (88px - 88px) = 624px, but not more than 1264px ;) 
      reference: https://developer.mozilla.org/en-US/docs/Web/CSS/calc
      */
      repeat(12, minmax(calc(624px / 12), calc(1264px / 12)))
      /* 14rd column: margin at least 88px */
      minmax(88px, 1fr);
  }

  main {
    grid-area: 3 / 2 / span 1 / span 12;
  }

  .cta {
    min-width: min-content;
    max-width: 50%;
  }

  .cta-small {
    width: 20%;
  }

  main .cta {
    margin-top: auto;
  }

  .title {
    grid-area: 2 / 2 / span 1 / span 8;
  }
}
