/*  custom css for mobile */
#main-container {
  display: grid;
  grid-template-columns: 24px repeat(4, 1fr) 24px;
  grid-template-rows: min-content min-content auto min-content;
  min-height: 100vh;
}

header {
  grid-area: 1 / 1 / span 1 / span 14;
  background-color: var(--color-main-yellow);
}

.title {
  grid-area: 2 / 2 / span 1 / span 4;
}

main {
  grid-area: 3 / 2 / span 1 / span 4;
  display: flex;
  flex-direction: column;

  gap: 48px;
}

footer {
  grid-area: 4 / 1 / span 1 / span 14;
  background-color: var(--color-main-yellow);

  margin-top: 48px;
}

.cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  align-self: center;

  text-transform: uppercase;
  white-space: nowrap;
  padding: 16px;
  border-radius: 32px;
  box-shadow: 4px 4px 4px var(--shadow-box);

  width: 100%;
  border: 0;
  font-size: 16px;

  background-color: var(--color-main-yellow);
}

button.cta:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  background-color: var(--color-secondary-blue);
}

.cta a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

}

/*-----media queries/desktop--------- */

@media (min-width: 800px) {
  #main-container {
    grid-template-columns:
      /* 1st column: margin at least 88px */
      minmax(88px, 1fr)
      /* 
      space available for 12 columns 2..13 at least 800px - (88px - 88px) = 624px, but not more than 1264px ;) 
      reference: https://developer.mozilla.org/en-US/docs/Web/CSS/calc
      */
      repeat(12, minmax(calc(624px / 12), calc(1264px / 12)))
      /* 14rd column: margin at least 88px */
      minmax(88px, 1fr);
  }

  main {
    grid-area: 3 / 2 / span 1 / span 8;
  }

  .cta {
    min-width: min-content;
    max-width: 50%;
  }

  main .cta {
    margin-top: auto;
  }

  .title {
    grid-area: 2 / 2 / span 1 / span 8;
  }

}
